@{
    ViewBag.Title = "Home Page";
}

<style>
    #social .col-md-3 {
        background-color: #31312F;
        margin: 1px;
        border-radius: 7px;
        color: white;
        margin-right: 20px;
    }

    .btn-success {
        background-color: #6C63FF;
        border-color: #6C63FF;
    }

    body {
        background: linear-gradient(30deg, crimson,sienna, royalblue, indianred, purple);
    }

    .jumbotron {
        margin-top: 20px;
    }

    .row {
        margin-left: 75px;
    }
</style>

<div class="jumbotron">
    <center><h1><b>Kevin Feliz 2019-8682</b></h1></center>

    <p class="lead">Soy un aficionado de la tegnologia que descubrió que ama la programacion, me llaman la atención tegnologias como JavaScript, C# y demas tegnologias que involucren el desarrollo de aplicaciones WEB</p>
    <p><a href="https://github.com/DevKevs" class="btn btn-primary btn-lg"><i class="fab fa-github"></i>  Ir a mi Github &raquo;</a></p>
</div>
<h3><b>Algunos de mis proyectos</b></h3>
<div class="row" id="social">
    <div class="col-md-3">
        <h2>Agenda en React</h2>
        <p>
            Hecha con un framework de JavaScript
            y realiza las acciones de un CRUD.
        </p><br />
        <p><a class="btn btn-success" href="https://myapp-agenda.herokuapp.com"><i class="fas fa-running"></i> Ir a la DEMO &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Reproductor MP4 C#</h2>
        <p>Este es un repruductor MP4 y MP3 utilizando C# como lenguaje base. </p>
        <br />
        <p><a class="btn btn-success" href="https://github.com/DevKevs/Archivos/tree/main/ReproductorMultimedia"><i class="fas fa-running"></i> Ir al proyecto &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Navegador WEB en C#</h2>
        <p>Simple navegador usando la tegnologia de C# para mostrar el uso de los componentes de WEB browser incorporado </p>
        <p><a class="btn btn-success" href="https://github.com/DevKevs/Archivos/tree/main/Navegador"><i class="fas fa-running"></i> Ir al proyecto &raquo;</a></p>
    </div>

</div>